

/* mobile desktop */
@media (max-width: 600px) {
.navbar{
    position: fixed;
    background-color: transparent !important;
    width: 100%;
}
.nav-link{
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    color:  #ffffff !important;
}
.navbar-brand{
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1px;
    color:  #ffffff !important;
}
#navbarSupportedContent{
    padding-left: 1.0rem;
}

#screen1 > nav > div > button{
    background-color: #fff;
}
#screen1{
    background-image: url(../img/contact.jpeg);
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50vh;
    width: 100vw;
}

#homepage{
    width: 100%;
}

h1{
    font-size: 34px;
    margin-top: 1.5rem;
    font-weight: 500;
    font-family: 'Cormorant Garamond', sans-serif;
    text-align: center;
    color: #000000;
    line-height: 78.848px;
}

#content{
    margin-top: 1.0rem;
}

#footer{
    width: 100%;
    height: 4.0rem;
    background-color: #F9F9F9;
    padding: 4.0rem;
    text-align: center;
    margin-top: 1.0rem;
}

#contact{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 14px;
    text-align: left;
}

#contactme{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2.5rem;
    font-weight: 300;
    font-size: 12px;
}

#contactimg{
    width: 10%;
    margin-top: -23.0rem;
    margin-left: 15px;
}

#email{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2.5rem;
    font-weight: 300;
    font-size: 13px;
    color: rgb(155, 152, 152);
}

#myemail{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -1.5rem;
    font-weight: 700;
    font-size: 16px;
    color: rgb(3, 0, 0);
}

#mapid { 
    height: 110px; 
    margin-top: -18.0rem;
}

}

/* tablet viewport */
@media (min-width: 768px) {
    .navbar{
        position: fixed;
        background-color: transparent !important;
        width: 100%;
    }
    .nav-link{
        font-family: 'Cormorant Garamond', sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 400;
        color:  #ffffff !important;
    }
    .navbar-brand{
        font-family: 'Cormorant Garamond', sans-serif;
        font-size: 28px;
        font-weight: 900;
        letter-spacing: 1px;
        color:  #ffffff !important;
    }
    #navbarSupportedContent{
        padding-left: 1.0rem;
    }
    #screen1 > nav > div > button{
        background-color: #fff;
    }

    #screen1{
        background-image: url(../img/contact.jpeg);
        padding: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 50vh;
        width: 100vw;
    }
    
    #homepage{
        width: 100%;
    }
    
    #screen2{
    
    }
    
    h1{
        font-size: 34px;
        margin-top: 1.5rem;
        font-weight: 500;
        font-family: 'Cormorant Garamond', sans-serif;
        text-align: center;
        color: #000000;
        line-height: 78.848px;
    }
    
    #content{
        margin-top: 1.0rem;
    }
    
    #footer{
        width: 100%;
        height: 4.0rem;
        background-color: #F9F9F9;
        padding: 4.0rem;
        text-align: center;
        margin-top: 1.0rem;
    }
    
    #contact{
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 32px;
        text-align: left;
    }
    
    #contactme{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 2.5rem;
        font-weight: 300;
        font-size: 18px;
    }
    
    #contactimg{
        width: 90%;
        margin-top: -23.0rem;
        margin-left: 15px;
    }
    
    #email{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 2.5rem;
        font-weight: 300;
        font-size: 13px;
        color: rgb(155, 152, 152);
    }
    
    #myemail{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: -1.5rem;
        font-weight: 700;
        font-size: 16px;
        color: rgb(3, 0, 0);
    }
    
    #mapid { 
        height: 280px; 
        margin-top: -19.0rem;
    }
}

/* ipad pro */
@media (min-width: 992px) { 
    .navbar{
        position: fixed;
        background-color: transparent !important;
        width: 100%;
    }
    .nav-link{
        font-family: 'Cormorant Garamond', sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 400;
        color:  #ffffff !important;
    }
    .navbar-brand{
        font-family: 'Cormorant Garamond', sans-serif;
        font-size: 28px;
        font-weight: 900;
        letter-spacing: 1px;
        color:  #ffffff !important;
    }
    #navbarSupportedContent{
        padding-left: 32.0rem;
    }
    #screen1{
        background-image: url(../img/contact.jpeg);
        padding: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 50vh;
        width: 100vw;
    }
    
    #homepage{
        width: 100%;
    }
    
    #screen1 > nav > div > button{
        background-color: #fff !important;
    }
    
    h1{
        font-size: 34px;
        margin-top: 1.5rem;
        font-weight: 500;
        font-family: 'Cormorant Garamond', sans-serif;
        text-align: center;
        color: #000000;
        line-height: 78.848px;
    }
    
    #content{
        margin-top: 1.0rem;
    }
    
    #footer{
        width: 100%;
        height: 4.0rem;
        background-color: #F9F9F9;
        padding: 4.0rem;
        text-align: center;
        margin-top: 7.0rem;
    }
    
    #contact{
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 32px;
        text-align: left;
    }
    
    #contactme{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 2.5rem;
        font-weight: 300;
        font-size: 18px;
    }
    
    #contactimg{
        width: 90%;
        margin-top: -23.0rem;
        margin-left: 15px;
    }
    
    #email{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 2.5rem;
        font-weight: 300;
        font-size: 13px;
        color: rgb(155, 152, 152);
    }
    
    #myemail{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: -1.5rem;
        font-weight: 700;
        font-size: 16px;
        color: rgb(3, 0, 0);
    }
    
    #mapid { 
        height: 280px; 
        margin-top: -19.0rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .navbar{
        position: fixed;
        background-color: transparent !important;
        width: 100%;
    }
    .nav-link{
        font-family: 'Cormorant Garamond', sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 400;
        color:  #ffffff !important;
    }
    .navbar-brand{
        font-family: 'Cormorant Garamond', sans-serif;
        font-size: 28px;
        font-weight: 900;
        letter-spacing: 1px;
        color:  #ffffff !important;
    }
    #navbarSupportedContent{
        padding-left: 60.0rem;
    }
    #screen1{
        background-image: url(../img/contact.jpeg);
        padding: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 50vh;
        width: 100vw;
    }
    
    #homepage{
        width: 100%;
    }
    
    #screen2{
    
    }
    
    h1{
        font-size: 34px;
        margin-top: 1.5rem;
        font-weight: 500;
        font-family: 'Cormorant Garamond', sans-serif;
        text-align: center;
        color: #000000;
        line-height: 78.848px;
    }
    
    #content{
        margin-top: 1.0rem;
    }
    
    #footer{
        width: 100%;
        height: 4.0rem;
        background-color: #F9F9F9;
        padding: 4.0rem;
        text-align: center;
        margin-top: 1.0rem;
    }
    
    #contact{
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 32px;
        text-align: left;
    }
    
    #contactme{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 2.5rem;
        font-weight: 300;
        font-size: 18px;
    }
    
    #contactimg{
        width: 90%;
        margin-top: -23.0rem;
        margin-left: 15px;
    }
    
    #email{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 2.5rem;
        font-weight: 300;
        font-size: 13px;
        color: rgb(155, 152, 152);
    }
    
    #myemail{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: -1.5rem;
        font-weight: 700;
        font-size: 16px;
        color: rgb(3, 0, 0);
    }
    
    #mapid { 
        height: 280px; 
        margin-top: -19.0rem;
    }
    }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .navbar{
        position: fixed;
        background-color: transparent !important;
        width: 100%;
    }
    .nav-link{
        font-family: 'Cormorant Garamond', sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 400;
        color:  #ffffff !important;
    }
    .navbar-brand{
        font-family: 'Cormorant Garamond', sans-serif;
        font-size: 28px;
        font-weight: 900;
        letter-spacing: 1px;
        color:  #ffffff !important;
    }
    #navbarSupportedContent{
        padding-left: 60.0rem;
    }
    #screen1{
        background-image: url(../img/contact.jpeg);
        padding: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 50vh;
        width: 100vw;
    }
    
    #homepage{
        width: 100%;
    }
    
    #screen2{
    
    }
    
    h1{
        font-size: 34px;
        margin-top: 1.5rem;
        font-weight: 500;
        font-family: 'Cormorant Garamond', sans-serif;
        text-align: center;
        color: #000000;
        line-height: 78.848px;
    }
    
    #content{
        margin-top: 1.0rem;
    }
    
    #footer{
        width: 100%;
        height: 4.0rem;
        background-color: #F9F9F9;
        padding: 4.0rem;
        text-align: center;
        margin-top: 1.0rem;
    }
    
    #contact{
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 32px;
        text-align: left;
    }
    
    #contactme{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 2.5rem;
        font-weight: 300;
        font-size: 18px;
    }
    
    #contactimg{
        width: 90%;
        margin-top: -23.0rem;
        margin-left: 15px;
    }
    
    #email{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 2.5rem;
        font-weight: 300;
        font-size: 13px;
        color: rgb(155, 152, 152);
    }
    
    #myemail{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: -1.5rem;
        font-weight: 700;
        font-size: 16px;
        color: rgb(3, 0, 0);
    }
    
    #mapid { 
        height: 280px; 
        margin-top: -19.0rem;
    }
}

